[Unit]
Description=Rclone WebDav Radius Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/data/rclone/rclone_webdav_radius.sh
Restart=always

[Install]
WantedBy=multi-user.target
